<h1> Artists </h1>

<% @artists.each do |artist| %>
  <h2> <%= artist.name %> </h2>
  <%= link_to 'Edit', "/artists/#{artist.id}/edit" %>
  <%= button_to 'Delete', "/artists/#{artist.id}", method: :delete %>
<% end %>

<%= link_to 'New Artist', '/artists/new' %>
